.video-section {
    display: flex !important;
    margin: .50em .50em;
    padding: 1em;
    align-items: center !important;
    cursor: pointer;
}

.video-section.item.relaxed img{
    max-width: 180px;
}
.video-section.item.relaxed span:hover{
    color: darkred !important;
}
.video-section.item.relaxed.selected span{
   font-style: oblique;
   color: darkred !important;
}